.next
node_modules
.npm-cache
out
dist
build
.env
.env.local
.env.*.local
npm-debug.log*
dev-server.log
dev-server.err.log
start-server.log
start-server.err.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
